<div class="page_wrapper">
  <h1 class="h1_title">Welcome to Compete</h1>
  <div class="right_align">
    <h3><%= link_to "Current Competitions", competitions_index_path, :class=> "comp_home_button"%></h3>
  </div>
  <div class="about_us_wrapper">
    <h2 class="about_us">Who We Are</h2>
    <p class="welcome_description">This is true happiness: to have no ambition and to work like a horse as if you had every ambition. To live far from men, not to need them and yet to love them. To have the stars above, the land to your left and the sea to your right and to realize of a sudden that in your heart, life has accomplished its final miracle: it has become a fairy tale.</p>  
  </div>
</div>

