<div class="page_wrapper">
  <h1 class="h1_title">Welcome to Compete</h1>
  <div class="right_align">
    <h3><%= link_to "Current Competitions", competitions_index_path, :class=> "comp_home_button"%></h3>
  </div>
  <div class="about_us_wrapper">
    <h2 class="about_us">Who We Are</h2>
    <p class="welcome_description">All people respond to their environment. Whether we are happy or miserable is largely determined by what
      surrounds us. For cultivation change, certain things must be present and other things must be absent. What happens when we don’t have control over what is present or absent? We do not always get to choose our environment or what is in it without drasatic change which for many is not an option. Here at compete we strive to facilitat an enviroment where you can surround youself with a supportive community</p>  
  </div>
</div>

